img {
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff ;
    border-radius: 200px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
main p {
    align-items: center;
    max-width: 800px;
    text-align: justify;
}

