#left {
    width: 60%;
    float: left;
    padding: 20px;
}
#right {
    width: 30%;
    padding: 20px;
    float: right;
}

#ImgBlog {
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ShareBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ShareBtn p {
}

@media (max-width: 600px) {
    #left, #right {
        width: 88%;
        float: none;
    }

    #ImgBlog {
        width: 100%;
        height: auto;
    }
}