body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#navbar {
    text-decoration: none;

    color: inherit;

    font-family: inherit;
    font-weight: inherit;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;

}

#logo a {
    text-decoration: none;

    color: inherit;

    font-family: inherit;
    font-weight: inherit;
    margin-left: 30px;

}

#tentang a {
    text-decoration: none;

    color: inherit;

    font-family: inherit;
    font-weight: inherit;

    display: flex;
    margin-right: 30px;
}

footer {
    margin-top: auto;
    border-top: 1px solid #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 5px;
}

footer h4 {
    margin: 5px;
}

@media(max-width: 600px ) {
    #tentang a {
        font-size: 20px
    }
}